@model IEnumerable<ColoradoLuxury.Models.BLL.VehicleType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/WebCms/Views/Shared/_Layout.cshtml";
}

<style>
    .dataTables_length {
        display: none;
    }

    .dataTables_filter {
        display: none;
    }

    .btn-outline-secondary {
        margin-bottom: 10px
    }

    table tbody tr{
        text-align:center;
    }

    .addvehicletype{
        float:right
    }
</style>

<div class="col-md-9 my-9">
    <div class="card shadow mb-5">
        <div class="card-header py-4">
            Nwe Vehicles Type Add
        </div>
        <div class="card-body">
            <a href="AddVehicleType" class="btn btn-outline-secondary addvehicletype">Add Vehicle Type</a>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-shorting" id="dataTable">
                    <thead>
                        <tr>
                            <th scope="col">VEHICLE TYPE NAME</th>
                            <th scope="col">PER MILE PRICE</th>
                            <th scope="col">HOURLY PRICE</th>
                            <th scope="col"> DEFAULT SHOW</th>
                            <th scope="col"> STATUS</th>
                            <th scope="col">EDIT - DELETE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr data-v-id="@Model.ToArray()[i].Id">
                                <td>@Model.ToArray()[i].TypeName</td>
                                <td>$@Model.ToArray()[i].PerMile</td>
                                <td>@Model.ToArray()[i].Hourly</td>
                                @*<td><input type="checkbox" id="check@(i)" value="Value1" onclick="selectOnlyThis(this.id)" /></td>*@

                                <td><input type="checkbox" id="check@(i)" @(!Model.ToArray()[i].Status ? "disabled": "") value="Value1" @(Model.Where(x => x.Status).Count() == 1 ? "disabled": "")   onclick="selectOnlyThis(this.id)" @((Model.Where(x => x.Status == true).Count() == 1) || (Model.ToArray()[i].IsActive) ? "checked='checked'" : "") /></td>

                                
                                <td>
                                    @if (Model.ToArray()[i].Status == true)
                                    {
                                        <a class="btn btn-success" asp-controller="VehicleType" asp-action="ShowOrNotShowStatus" asp-route-Id="@Model.ToArray()[i].Id">Show</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-warning" asp-controller="VehicleType" asp-action="ShowOrNotShowStatus" asp-route-Id="@Model.ToArray()[i].Id">Not Show</a>
                                    }
                                </td>


                                <td>
                                    <div >
                                        <a asp-controller="VehicleType" asp-action="EditVehicleType" class="fas fa-fw fa-pencil-alt updateBtn btnForm" asp-route-Id="@Model.ToArray()[i].Id"></a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/lib/jquery/jquery3.6.4/jquery3.6.4.js"></script>
<script src="/lib/ajax/ajax-library.js"></script>

<script>
    function selectOnlyThis(id) {
        for (var i = 0; i < @Model.Count(); i++) {
            var getCheckedInput = $(`#check${i}`);

            for (var index = 0; index < getCheckedInput[0].attributes.length; index++) {
                if (getCheckedInput[0].attributes[index].name == "checked") {
                    console.log(getCheckedInput[0].attributes[index].name);
                    getCheckedInput.attr("checked", false);
                    getCheckedInput.prop("checked", false);
                    getCheckedInput.trigger("change");
                }
            }
        }
        $(`#${id}`).attr("checked", true);

        let dataVehicleId = $(`#${id}`).parent().parent().attr("data-v-id");

        AjaxPost("/WebCms/VehicleType/SetAsDefaultVehicleType/", { id: dataVehicleId }, true, true, 'json', 'application/x-www-form-urlencoded; charset=UTF-8', (response) => {
        console.log(response);

            if (response.hasOwnProperty('success')) {
                alert(`${response.vehicleType.typeName} is already Active`);
                return;
            }
        
            if (response.hasOwnProperty('BadRequest')) {
                alert("Something went wrong!");
            }
    });
    }
</script>
