
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/WebCms/Views/Shared/_Layout.cshtml";
}

<style>
    div.dataTables_wrapper div.dataTables_length label {
    display:none;
    }

    .col-md-12 .card .card-body .col-4 .btnShowOrNotshow {
        width: 45%;
    }

    .col-md-12 .card .card-body .col-4 .ShowOrNotshowLabelText {
        display:block;
    }
    </style>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow ">
            <div class="card-header py-4">
                CHOOSE A VEHICLE PAGE SETTING
            </div>
            <div class="card-body">
                <div class="row">

                <div class="col-4">
                    <label class="ShowOrNotshowLabelText">Car Type Show or Not Show</label>
                    <select class="form-select btnShowOrNotshow" id="btnCarType">
                        <option value="activ">Show</option>
                        <option value="deactiv">Not Show</option>
                    </select>

                </div>
                    <div class="col-4">
                        <label class="ShowOrNotshowLabelText">Child Seat Show or Not Show</label>
                        <select class="form-select btnShowOrNotshow" id="">
                            <option value="activ">Show</option>
                            <option value="deactiv">Not Show</option>
                        </select>

                    </div>
                    <div class="col-4">
                        <label class="ShowOrNotshowLabelText">Rooftop Cargo Box Show or Not Show</label>
                        <select class="form-select btnShowOrNotshow" id="">
                            <option value="activ">Show</option>
                            <option value="deactiv">Not Show</option>
                        </select>

                    </div>
                </div>

            </div>
        </div>
    </div>
  
    <div class="col-md-12 my-4">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                Nwe Vehicles Add
            </div>
            <div class="card-body">
                <a href="AddVehicle" class="btn btn-outline-secondary" >Add Vehicle</a>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-shorting" id="dataTable">
                        <thead>
                            <tr>
                                <th scope="col">NAME</th>
                                <th scope="col">MODEL</th>
                                <th scope="col">COLOR </th>
                                <th scope="col">ENGIN</th>
                                <th scope="col">FUEL TYPE</th>
                                <th scope="col">EDIT - DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>BMW</td>
                                <td>X5</td>
                                <td>Black</td>
                                <td>4400</td>
                                <td>Benzin</td>
                                <td>
                                    <div style="display:flex">

                                        <a asp-controller="VeliBilgi" asp-action="EditOgrenciVeliBilgi" class="fas fa-fw fa-pencil-alt updateBtn btnForm" asp-route-id="ID"></a>
                                        <a asp-controller="VeliBilgi" asp-action="DeleteOgrenciVeliBilgi" asp-route-id="ID" class="btn text-warning" onclick="return confirm('Silmek istediğinizden emin misiniz?')" style=" padding: 1px 0.75rem;"><i class="fas fa-fw fa-trash"></i></a>

                                    </div>
                                </td>
                            </tr>
                            @* @if (TempData["Orgs"] != null)
                            {
                            @foreach (var item in Model.OgrenciVeliBilgis)
                            {
                            <tr>
                            <th scope="row">@item.ID</th>
                            <td>@item.AD</td>
                            <td>@item.SOYAD</td>
                            <td>@item.TC_KIMLIK</td>
                            <td>@item.ILISKI_DURUMU</td>
                            <td>@item.CEP_TELEFONU_1</td>
                            <td>@item.EMAIL</td>
                            <td>@item.MESLEK</td>
                            <td>
                            <div style="display:flex">

                            <a asp-controller="VeliBilgi" asp-action="EditOgrenciVeliBilgi" class="fas fa-fw fa-pencil-alt updateBtn btnForm" asp-route-id="@item.ID"></a>
                            <a asp-controller="VeliBilgi" asp-action="DeleteOgrenciVeliBilgi" asp-route-id="@item.ID" class="btn text-warning" onclick="return confirm('Silmek istediğinizden emin misiniz?')" style=" padding: 1px 0.75rem;"><i class="fas fa-fw fa-trash"></i></a>

                            </div>
                            </td>
                            </tr>
                            }
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    //=============Car Type Show or Notshow============

    const timeZoneList = document.getElementById('btnCarType');

    timeZoneList.addEventListener('change', (event) => {
        let currentArea = event.target.value;
        localStorage.setItem('btnCarTypeValueKey', currentArea);
    });

    if (localStorage.getItem('btnCarTypeValueKey')) {
        timeZoneList.value = localStorage.getItem('btnCarTypeValueKey');
    }

    //bu sayfada Extra option icerisindeki secenekler ucun herbirine enable disable dutton elave 
    //olunacak true false  DB'ya baqlanacak
</script>

