@using ColoradoLuxury.Models.VM;
@model HomeInfoDetailsVM
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <!-- Time picker -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.14.1/jquery.timepicker.min.css" />


</head>
<style>
    .BookingSummary .col-lg-4 .mainBetDriver {
        margin-bottom: 15px;
    }

    .bettingMonyBtn {
        height: 45px;
        width: 45px;
        font-size: 23px;
        font-weight: bold;
        border-radius: 37px;
        background-color: transparent;
        border: 2px solid #c1a926;
        color: #c1a926;
        margin-right: 9px;
        margin-bottom: 13px;
    }

    .active1 {
        height: 45px;
        width: 45px;
        font-size: 23px;
        font-weight: bold;
        border-radius: 37px;
        background-color: #c1a926;
        border: 2px solid #ffffff;
        color: #ffffff;
    }

    .btn-outline-warning:hover {
        color: #fff;
        background-color: #b9a32c;
        border-color: #b9a32c;
    }


    .input_div {
        text-align: center;
        margin-top: 15em;
    }

        .input_div input {
            padding: 10px;
            border-radius: 5px;
            border: none;
        }

    .modal-content {
        margin: 9em auto;
        width: fit-content;
        background-color: white;
    }

    .timepicker_wrapper {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: #00000082;
        width: 100%;
        height: 100vh;
    }

    .timepicker_hour,
    .timepicker_minute,
    .timepicker_ampm {
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
        border: 1px solid #80808080;
        color: #0000009e;
        font-weight: bold;
    }

        .timepicker_hour::-webkit-scrollbar,
        .timepicker_minute::-webkit-scrollbar,
        .timepicker_ampm::-webkit-scrollbar {
            display: none;
        }

        .timepicker_hour option,
        .timepicker_minute option,
        .timepicker_ampm option {
            font-weight: bold;
            padding: 5px 25px;
        }

    .timepicker_control {
        text-align: end;
        margin-top: 5px;
        margin-bottom: 10px;
    }

        .timepicker_control button {
            padding: 7px 15px;
            border: none;
            font-weight: bold;
            background-color: green;
            color: white;
            margin-left: 8px;
        }

    .timepicker_wrapper_main {
        width: fit-content;
        border: 1px solid gray;
        padding: 0px 12px;
    }

    .timepicker_control button:first-child {
        background-color: #ff0000db;
        color: white;
        margin-right: 15px;
    }

    .timepicker_header {
        text-align: center;
        color: #0000008a;
        margin: 5px 0px;
    }

    .disabled-option-time-picker {
        background-color: #dddddd;
    }

    option.selected-time-type {
        background: blue;
        color: white;
        cursor: pointer;
    }

</style>
<section class="mainImg">
    <div><img src="~/assets/image/slide_3_v4.jpg" width="100%" alt=""></div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 wizardPlagin">
                <form method="POST" action=" " class="needs-validation">
                    <div id="app">
                        <step-navigation :steps="steps" :currentstep="currentstep">
                        </step-navigation>

                        @*Kecidlerin Partial view ile cagirilmasi (start)*@
                        <div v-show="currentstep == 1">
                            <h1> Enter Ride Details</h1>
                            <div class="row">

                                <div class="col-lg-1"></div>

                                <div class="col-lg-10 backroundAndBorderTema  ">

                                    <div class="row">
                                        <div class="col-lg-5 ">
                                            <div class="btnsDistanceAndHourly">
                                                <button type="button" id="distance"
                                                        class="btn btn change ">
                                                    Distance
                                                </button>
                                                <button type="button" id="hourly"
                                                        class="btn btn change float-right">
                                                    Hourly
                                                </button>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6 date">
                                                    <div class="form-group">
                                                        <label for="dateTime"> Pickup date </label>
                                                        <input type="date" name="dateTime"
                                                               style="padding-right: 5px;" class="form-control"
                                                               id="pickupDate" value="2023-09-29" >
                                                        <span class="error" id="dateError">Cannot be left blank </span>
                                                        <span class="good" id="dateGood">Good look </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="dateTime"> Pickup time </label>
                                                        @* <input type="time" name="time" class="form-control"
                                                        placeholder="00:00" id="time" value="15:00">*@

                                                        <input type="text" name="time" class="form-control time ui-timepicker-input"
                                                               placeholder="00:00" id="time" onclick="timepicker(this,'a'); CheckDateToBron()" autocomplete="off">

                                                        <div class="timepicker_wrapper">
                                                            <div class="modal-content">
                                                                <div class="timepicker_wrapper_main">
                                                                    <p class="timepicker_header">
                                                                        <b>12</b>:<b>00</b>
                                                                        <b>AM</b>
                                                                    </p>
                                                                    <div class="timepicker_data_select">
                                                                        <select onchange="changeTimepickerheader(this,'3')" size="5" class="timepicker_ampm">
                                                                            <option value="AM" id="am" selected="selected" class="selected-time-type" onclick="SelectTimeType(this)">AM</option>
                                                                            <option value="PM" id="pm" onclick="SelectTimeType(this)">PM</option>
                                                                        </select>
                                                                        <select onchange="changeTimepickerheader(this,'1')" size="5" class="timepicker_hour">
                                                                            
                                                                        </select>
                                                                        <select onchange="changeTimepickerheader(this,'2')" size="5" class="timepicker_minute"></select>
                                                                    </div>
                                                                    <div class="timepicker_control">
                                                                        <button type="button" onclick="timepicker(this,'x')">Close</button><button onclick="timepicker(this,'c')">Clear</button><button type="button" onclick="timepicker(this,'s')">Set</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <span class="error" id="timeError">Cannot be left blank </span>
                                                        <span class="good" id="timeGood">Good look </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label> Pickup location </label>
                                                <input type="text" class="form-control" id="pickuplocation" placeholder="Write Location" value="Denver, CO, USA" />
                                                <span class="error" id="pickupError">Cannot be left blank </span>
                                                <span class="good" id="pickupGood">Good look </span>
                                            </div>
                                            <div>
                                                <div id="DropLocation" class="form-group">
                                                    <label> Drop-off location </label>
                                                    <input type="text" class="form-control" id="dropOffLocation" placeholder="Write Location" value="Denver International Airport (DEN), Peña Boulevard, Denver, CO, USA" />
                                                    <span class="error" id="dropError">Cannot be left blank </span>
                                                    <span class="good" id="dropGood">Good look </span>
                                                </div>
                                                <div class="form-group transferType" style="margin-bottom: 0px;">
                                                    <div id="TransferType" class="form-group ">
                                                        <label> Transfer Type </label>
                                                        <select id="transferType" class="form-select form-control"
                                                                aria-label="Default select example">
                                                            <option value="" selected>Open this select menu</option>
                                                            @foreach (var transfertype in Model.TransferTypes)
                                                            {
                                                                <option value="@transfertype.Id">@transfertype.Name</option>
                                                            }
                                                        </select>
                                                        <span class="error" id="transferTypeError">Cannot be left blank </span>
                                                        <span class="good" id="transferTypeGood">Good look </span>
                                                    </div>
                                                    <div id="durationInHours" class="form-group">
                                                        <label> DURATION (IN HOURS) </label>
                                                        <select id="durationInHoursSelected" class="form-select form-control"
                                                                aria-label="Default select example">
                                                            <option value="" selected>Open this select menu</option>
                                                            <option value="1">1 hour(s)</option>
                                                            <option value="2">2 hour(s)</option>
                                                            <option value="3">3 hour(s)</option>
                                                            <option value="4">4 hour(s)</option>
                                                            <option value="5">5 hour(s)</option>
                                                            <option value="6">6 hour(s)</option>
                                                            <option value="7">7 hour(s)</option>
                                                            <option value="8">8 hour(s)</option>
                                                            <option value="9">9 hour(s)</option>
                                                            <option value="10">10 hour(s)</option>
                                                            <option value="11">11 hour(s)</option>
                                                            <option value="12">12 hour(s)</option>
                                                            <option value="13">13 hour(s)</option>
                                                            <option value="14">14 hour(s)</option>
                                                            <option value="15">15 hour(s)</option>
                                                            <option value="16">16 hour(s)</option>
                                                            <option value="17">17 hour(s)</option>
                                                            <option value="18">18 hour(s)</option>
                                                            <option value="19">19 hour(s)</option>
                                                            <option value="20">20 hour(s)</option>
                                                            <option value="21">21 hour(s)</option>
                                                            <option value="22">22 hour(s)</option>
                                                            <option value="23">23 hour(s)</option>
                                                            <option value="24">24 hour(s)</option>
                                                        </select>

                                                        <span class="error" id="durationHoursError">Cannot be left blank </span>
                                                        <span class="good" id="durationHoursGood">Good look </span>
                                                    </div>
                                                    <!-- <div class="row">
                                                        <div class="col-lg-6 date">
                                                            <div class="form-group">
                                                                <label for="dateTime"> Pickup date </label>
                                                                <input type="date" style="padding-right: 5px;"
                                                                    name="dateTime" class="form-control"
                                                                    placeholder="EX:01/01/2023">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="dateTime"> Pickup time </label>
                                                                <input type="time" name="time" class="form-control"
                                                                    placeholder="00:00">
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                                @*     <hr>
                                                <label>EXTRA OPTIONS</label>
                                                <div class="form-group" id="extraTime">
                                                <label> Extra Time </label>
                                                <select class="form-select form-control"
                                                aria-label="Default select example">
                                                <option selected>Open this select menu</option>
                                                <option value="1">1 hour(s)</option>
                                                <option value="2">2 hour(s)</option>
                                                <option value="3">3 hour(s)</option>
                                                <option value="4">4 hour(s)</option>
                                                <option value="5">5 hour(s)</option>
                                                <option value="6">6 hour(s)</option>
                                                <option value="7">7 hour(s)</option>
                                                <option value="8">8 hour(s)</option>
                                                <option value="9">9 hour(s)</option>
                                                <option value="10">10 hour(s)</option>
                                                <option value="11">11 hour(s)</option>
                                                <option value="12">12 hour(s)</option>
                                                </select>
                                                </div>*@
                                                <div id="forHourlyDropLocation" class="form-group forHourlyDropLocation">
                                                    <label> Drop-off location </label>
                                                    <input type="text" class="form-control" id="forHourlydropOffLocation" placeholder="Write Location" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 ">
                                            <!-- Google-Map -->
                                            <label>Map Address </label>
                                            <div id="map">
                                            </div>

                                            <div class="map-info">
                                                <div class="row">
                                                    <div class="col-lg-6" style=" height: 70px; border-right: 2px solid #767575;">
                                                        <div class="map-distance">
                                                            <img width="50" height="50" src="https://img.icons8.com/external-glyph-mangsaabguru-/64/4B4A4A/external-location-location-and-map-glyph-glyph-mangsaabguru--12.png" alt="external-location-location-and-map-glyph-glyph-mangsaabguru--12" />
                                                            <div class="mapDistanceInfo">
                                                                <p class="mileTitle">TOTAL DISTANCE</p>
                                                                <p class="mileTitle map-distance-value">0 mi</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="map-time">
                                                            <img width="50" height="50" src="https://img.icons8.com/external-xnimrodx-lineal-xnimrodx/64/4B4A4A/external-watch-ecommerce-xnimrodx-lineal-xnimrodx.png" alt="external-watch-ecommerce-xnimrodx-lineal-xnimrodx" />
                                                            <div class="mapTimeInfo">
                                                                <p class="timeTitle">TOTAL TIME</p>
                                                                <p class="timeTitle map-time-value">0 h 0 m</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                            <!-- END Google-Map -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1"></div>

                            </div>
                        </div>
                        <div v-show="currentstep == 2">
                            <h1>Choose a Vehicle</h1>
                            <div class="col-lg-12 vehicleFilter">
                                <h6>VEHICLES FILTER</h6>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="select">PASSENGERS </label>
                                            <select id="passengersSelect" class="form-select form-control"
                                                    aria-label="Default select example" onchange="ChangePassengerCount(this)">
                                                <option value="" selected>Choose</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>

                                            <span class="error" id="passengersError">Cannot be left blank </span>
                                            <span class="good" id="passengersGood">Good look </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="select">SUITCASES</label>
                                            <select class="form-control suitcases" name="select" id="suitcases" onchange="ChangeSuitcasesCount(this)">
                                                <option value="0">Choose</option>
                                                <option value="1" selected>1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group" id="carType">
                                            <label for="select">TYPE </label>
                                            <select class="form-control" name="select" id="allcarTpes" onchange="ChangeVehicleType(this)">
                                                <option value="">All Vehicles</option>
                                                @foreach (var vehicletype in Model.VehicleTypes)
                                                {
                                                    <option value="@vehicletype.Id">@vehicletype.TypeName</option>
                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>



                            <div class="allvehicletypes">
                                @for (var i = 0; i < Model.VehicleTypes.Count; i++)
                                {
                                    <div class="col-lg-12 backroundAndBorderTema" data-v-identifier-value="@Model.VehicleTypes[i].Id">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="imagesAllVehicles">
                                                    <p class="carType">@Model.VehicleTypes[i].TypeName</p>
                                                    <p class="vehiclePrice">$ 450.00</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="humanSuitcase">
                                                    <img src="https://img.icons8.com/ios/50/ADADAD/conference-call--v1.png" /><span>0</span>
                                                    <img src="https://img.icons8.com/50/ADADAD/pastel-glyph/64/null/suitcase--v4.png"
                                                     style="padding-bottom: 8px;" /><span class="suitcases-count">1</span>
                                                    <button type="button"
                                                        class="btn btn-outline-secondary toggle-button-vehicle @(Model.VehicleTypes[i].IsActive ? "toggle-button-selected" : "")" @(Model.VehicleTypes[i].IsActive ? "aria-pressed=true" : "") onclick="SelectedVehicleType(this)" data-type="@(Model.VehicleTypes[i].TypeName.Replace(" ", "").ToLower())" data-type-total="@(Model.VehicleTypes[i].TypeName.Replace(" ", "").ToLower())-result">

                                                        Select
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="col-lg-12 backroundAndBorderTema mt-3">
                                <div class=" accordion">
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <img src="https://img.icons8.com/ios/50/000000/sorting-options--v1.png" />
                                            Extra options
                                        </div>
                                        <div class="accordion-item-body">
                                            <div class="accordion-item-body-content">
                                                <div class="row">
                                                    <div class="col-lg-6 border-bottom">
                                                        <span class="childSet">Child Seat</span>
                                                        <span class="money">$0.00</span>
                                                        <p>Baby car seat for children aged 0-36 months</p>
                                                        <div class="extraMessageluggage" id="extraMessageChildwillSit">
                                                            <div style="display:flex">
                                                                <input id="childSeatMessegShowCekbox" style="    margin-right: 10px;
    margin-top: -27px;
    width: 25px" type="checkbox" />
                                                                <label class="d-block mt-1">If you want write additional message for Child Seat, here you can write.</label>
                                                            </div>
                                                            <textarea style="display:none" name="" id="childAdditionalMessage" cols="40" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 childCount border-bottom ">
                                                        <label>Number</label>
                                                        <input style="text-align: center;" type="number" value="1" id="childNumber" disabled>
                                                    </div>
                                                    <div class="col-lg-3 border-bottom">
                                                        <button id="childSeat" type="button"
                                                                class="btn btn-outline-secondary cargoBox toggle-button-child">
                                                            Select
                                                        </button>
                                                    </div>

                                                    <div class="col-lg-6 border-top">
                                                        <span class="childSet">Rooftop Cargo Box</span>
                                                        <span class="money">$0.00</span>
                                                        <div class="extraMessageluggage" id="extraMessageluggage">
                                                            <div style="display:flex">
                                                                <input id="cargoBoxMessegShowCekbox" style="margin-right: 10px;
    margin-top: -27px;
    width: 25px" type="checkbox" />
                                                                <label class="d-block mt-1">If you want write additional message for Rooftop Cargo Box, here you can write.</label>
                                                            </div>
                                                            <textarea style="display:none" name="" cols="40" rows="3" id="roofCargoBoxAdditionalMessage"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 childCount border-top">
                                                        <label>Number</label>
                                                        <input style="text-align: center;" type="number" value="1" id="roofCargoBoxNumber" disabled>
                                                    </div>
                                                    <div class="col-lg-3 border-top">
                                                        <button id="cargoBox" type="button"
                                                                class="btn btn-outline-secondary cargoBox toggle-button-cargo">
                                                            Select
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12  totalPrice  ">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p>Selected vehicle</p>
                                        <p>Gratuity</p>
                                        <hr>
                                        <p>Total</p>
                                    </div>
                                    <div class="col-lg-7">
                                        <hr>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="distanceAmount">$ <span></span></p>
                                        <p class="gratuity">$ <span></span></p>
                                        <hr>
                                        <p class="totalAmount">$ <span></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-show="currentstep == 3">
                            <h1> Enter Contact Details</h1>
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-10">
                                    <div class="col-lg-12 backroundAndBorderTema">
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="firstName">First Name</label>
                                                    <input type="text" id="firstName" class="form-control " />
                                                    <span class="error" id="firstNameError">Cannot be left blank </span>
                                                    <span class="good" id="firstNameGood">Good look </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">

                                                <div class="form-outline">
                                                    <label class="form-label" for="lastName">Last Name</label>
                                                    <input type="text" id="lastName" class="form-control " />
                                                    <span class="error" id="lastNameError">Cannot be left blank </span>
                                                    <span class="good" id="lastNameGood">Good look </span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <label class="form-label" for="emailAddress">Email</label>
                                                    <input type="email" id="emailAddress" class="form-control " />
                                                    <span class="error" id="emailAddressError">Cannot be left blank </span>
                                                    <span class="good" id="emailAddressGood">Good look </span>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <label class="form-label" for="phoneNumber">Phone Number</label>
                                                    <input type="number" id="phoneNumber" class="form-control " maxlength="10"/>
                                                    <span class="error" id="phoneNumberError">Cannot be left blank </span>
                                                    <span class="good" id="phoneNumberGood">Good look </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="textarea">Additional Message</label>
                                            <textarea class="form-control" placeholder="If you want write additional message for we, here you can write." name="textarea" rows="3" cols="2" id="additional-contact-details-note"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 backroundAndBorderTema  ">
                                        <div class=" accordion">
                                            <div class="accordion-item">
                                                <div class="accordion-item-header">
                                                    <input type="checkbox" id="billingAddress" class="chekbox">
                                                    BILLING ADDRESS
                                                </div>
                                                <div class="accordion-item-body billBackgroundColor">
                                                    <div class="accordion-item-body-content">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-control billBackgroundColor">
                                                                    <label for="">COMPANY REGISTERED NAME</label>
                                                                    <input type="text" class="form-control " id="company-registered-name">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-control billBackgroundColor">
                                                                    <label for="">TAX NUMBER</label>
                                                                    <input type="text" class="form-control " id="taxNumber">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 margin_Top_Bottom">
                                                                <div class="form-control billBackgroundColor">
                                                                    <label for="">STREET*</label>
                                                                    <input type="text" id="street" class="form-control ">
                                                                    <span class="error" id="streetError">Cannot be left blank </span>
                                                                    <span class="good" id="streetGood">Good look </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 margin_Top_Bottom">
                                                                <div class="form-control billBackgroundColor">
                                                                    <label for="">STREET NUMBER</label>
                                                                    <input type="text" class="form-control " id="streetNumber">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 margin_Top_Bottom">
                                                                <div class="form-control billBackgroundColor">
                                                                    <label for="">CITY*</label>
                                                                    <input type="text" id="city" class="form-control ">
                                                                    <span class="error" id="cityError">Cannot be left blank </span>
                                                                    <span class="good" id="cityGood">Good look </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-control billBackgroundColor">
                                                                    <label for="">STATE*</label>
                                                                    <input type="text" id="state" class="form-control ">
                                                                    <span class="error" id="stateError">Cannot be left blank </span>
                                                                    <span class="good" id="stateGood">Good look </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-control billBackgroundColor">
                                                                    <label for="">POSTAL CODE*</label>
                                                                    <input type="text" id="postalCode" class="form-control ">
                                                                    <span class="error" id="postalCodeError">Cannot be left blank </span>
                                                                    <span class="good" id="postalCodeGood">Good look </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-control billBackgroundColor">
                                                                    <label for="">DISTRICT*</label>
                                                                    @*  <select name="" id="country" class="form-control ">
                                                                    <option value="">Select</option>
                                                                    @foreach (var country in Model.Countries)
                                                                    {
                                                                    <option value="@country.Id">@country.Name</option>
                                                                    }
                                                                    </select>*@
                                                                    <input type="text" id="district" class="form-control ">

                                                                    <span class="error" id="countryError">Cannot be left blank </span>
                                                                    <span class="good" id="countryGood">Good look </span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-12 backroundAndBorderTema  ">
                                        <div class=" accordion">
                                            <div class="accordion-item">
                                                <div class="accordion-item-header">
                                                    <input type="checkbox" id="airlineInfo" class="chekbox">
                                                    ARRIVAL AIRLINE INFO
                                                </div>
                                                <div class="accordion-item-body billBackgroundColor">
                                                    <div class="accordion-item-body-content">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-control billBackgroundColor">
                                                                    <label for="">AIRLINE*</label>
                                                                    <select name="" id="airline" class="form-control ">
                                                                        <option value="">Choose</option>
                                                                        @foreach (var airline in Model.AirLines)
                                                                        {
                                                                            <option value="@airline.Id">@airline.Name</option>
                                                                        }

                                                                    </select>
                                                                    <span class="error" id="airlineError">Cannot be left blank </span>
                                                                    <span class="good" id="airlineGood">Good look </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-control billBackgroundColor">
                                                                    <label for="">FLIGHT NUMBER *</label>
                                                                    <input type="text" id="filingNumber" class="form-control ">
                                                                    <span class="error" id="filingNumberError">Cannot be left blank </span>
                                                                    <span class="good" id="filingNumberGood">Good look </span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>

                        </div>
                        <div v-show="currentstep == 4">
                            <h1>Booking Summary</h1>
                            <div class="col-lg-12 backroundAndBorderTema BookingSummary">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <h4>Contact & Billing Info</h4>
                                        <div class="invoiceContent" id="SummaryFirstName">FIRST NAME <span class="firstname"></span></div>
                                        <div class="invoiceContent" id="SummaryLastName">LAST NAME <span class="lastname"></span></div>
                                        <div class="invoiceContent" id="SummaryEmail">EMAIL <span class="email"></span></div>
                                        <div class="invoiceContent" id="SummaryPhoneNum">PHONE NUMBER <span class="phoneNumber"></span></div>
                                        <hr>
                                        <div class="invoiceContent" id="SummaryCompaniyName">COMPANY NAME <span class="companyName"></span></div>
                                        <div class="invoiceContent" id="SummaryTaxNumber">TAX NUMBER <span class="taxNumber"></span></div>
                                        <hr>
                                        <div class="invoiceContent" id="SummaryBillingAddress">BILLING ADDRESS <span class="fullBillingAddress"></span> </div>

                                        @*<h4>Payment Method</h4>
                                        <div class="invoiceContent">YOUR CHOICE <span class="paymentMethod"> </span></div
                                        <hr>>*@
                                        <h4>Arrival Airline info</h4>
                                        <div class="invoiceContent" id="SummaryAirLine">AIRLINE <span class="airLineType"></span></div>
                                        <div class="invoiceContent" id="SummaryFlightNumber">FLIGHT NUMBER <span class="flightNumber"></span></div>
                                        <hr>
                                        <div class="invoiceContent" id="additionalMessage">COMMENTS <span class="additionalContactDetailsNote"> </span></div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h4>Ride details</h4>
                                        <div class="invoiceContent" id="SummaryServiceType">SERVICE TYPE <span class="service-type"></span></div>
                                        <hr>
                                        <div class="invoiceContent" id="SummaryPickupLocation">
                                            PICKUP LOCATION <span class="pickupLocation"> </span>
                                        </div>
                                        <hr>
                                        <div class="invoiceContent" id="dropOfLocation">
                                            DROP OFF LOCATION <span class="dropOffLocation"> </span>
                                        </div>
                                        <hr>
                                        <div class="invoiceContent" id="SummaryPickupDateAndTime">
                                            PICKUP DATE, TIME <span class="pickupDateAndTime"> </span>
                                        </div>
                                        <hr>
                                        <div class="invoiceContent" id="SummaryTotalDistance">TOTAL DISTANCE <span class="total-distance"> </span></div>
                                        <div class="invoiceContent" id="SummaryDistanceTime">TOTAL TIME <span class="total-time"></span></div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h4>Vehicle info</h4>
                                        <div class="invoiceContent" id="SummaryVehicleType">VEHICLE <span class="vehicle-type"></span></div>
                                        <hr>

                                        <div class="invoiceContent" id="SummaryChildNumber">
                                            EXTRA OPTIONS <span class="childSeat">
                                                <span class="childSeatCount"></span>
                                            </span>

                                        </div>
                                        <hr>
                                        <h4 id="bettingTitleH4">For Driver Betting</h4>
                                        <div class="mainBetDriver" id="betting">
                                            <div id="bettButtons">

                                                <input type="button" id="btn1" :class="[{'active1': selected === 'f'},'bettingMonyBtn']" @@click="selected = 'f'"
                                                       value="@Model.ValueOfTipButtons.lowInterest" />

                                                <input type="button" id="btn2" :class="[{'active1': selected === 'a'},'bettingMonyBtn']" @@click="selected = 'a'"
                                                       value="@Model.ValueOfTipButtons.MiddleInterest" />
                                                <input type="button" id="btn3" :class="[{'active1': selected === 'b'},'bettingMonyBtn']" @@click="selected = 'b'"
                                                       value="@Model.ValueOfTipButtons.HighInterest" />



                                                @*   <input type="button" id="btn30" :class="[{'active1': selected === 'c'},'bettingMonyBtn']" @@click="selected = 'c'"
                                                value="30" />
                                                <input type="button" id="btn40" :class="[{'active1': selected === 'd'},'bettingMonyBtn']" @@click="selected = 'd'"
                                                value="40" />
                                                <input type="button" id="btn50" :class="[{'active1': selected === 'e'},'bettingMonyBtn']" @@click="selected = 'e'"
                                                value="50" />*@
                                            </div>
                                            <div id="customBettink">
                                                <div>
                                                    <p style="font-size: 15px; margin-bottom: 0px;  margin-top: 16px;">If you want to write a special price, please tick here.</p>
                                                    <input type="checkbox" id="customPriceActive" style="width:23px; height:23px;
    float: right;
    margin-bottom:25px;" />
                                                </div>
                                                <div id="customPrice" style="margin-top:42px; opacity:0.1;">
                                                    <label class="form-label">Custom Price</label>
                                                    <div style="display:flex">
                                                        <input type="number" id="forDriveBett" style="margin-right: 10px" class="form-control" disabled />

                                                        <button id="customBettAddBtn" type="button" style=" float: right; display:none" class="btn btn-outline-warning" onclick="AddGraduityManually(this)">
                                                            Add
                                                        </button>
                                                    </div>
                                                    <span id="customBettSuccessfullAlert" style="font-size: 14px;color: #03cb03; margin-bottom: 0px;  margin-top: 16px; display:none;">The bet you want has been successfully added</span>
                                                    <span id="customBettErrorAlert" style="font-size: 14px;color: red; margin-bottom: 0px;  margin-top: 16px; display:none;">You can't leave it blank </span>
                                                </div>
                                            </div>

                                            <div style="margin-top:42px;" id="cupponSection">
                                                <label class="form-label">Discount Cuppon</label>
                                                <p style="    font-size: 14px;
    color: white;
    margin-bottom: 8px;
    margin-left: 1px;">If you have a discount coupon, write it here.</p>
                                                <div class="discountInputAndBtn" style="display:flex">
                                                    <input type="text" class="form-control" style="height: 38px;
    margin-right: 10px;font-size: 20px; font-weight: bold;" />

                                                    <button type="button" style="float: right;margin-right: 10px;" class="btn btn-outline-warning" id="btnAddCupon" onclick="AddCupon(this)">
                                                        Add
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12  totalPrice calculated-result ">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p>Selected vehicle</p>
                                        <p>Gratuity</p>

                                        <hr>
                                        <p>Total</p>
                                    </div>
                                    <div class="col-lg-7">
                                        <hr>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="distanceAmount">$ <span></span></p>
                                        <p class="gratuity">$ <span></span></p>

                                        <hr>
                                        <p class="totalAmount">$ <span></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*Kecidlerin Partial view ile cagirilmasi (end)*@

                        <step v-for="step in steps" :currentstep="currentstep" :key="step.id" :step="step"
                              :stepcount="steps.length" @@step-change="stepChanged">
                        </step>

                        <script type="x-template" id="step-navigation-template">
                            <ol class="step-indicator">
                                <li v-for="step in steps" is="step-navigation-step" :key="step.id" :step="step" :currentstep="currentstep">
                                </li>
                            </ol>
                        </script>

                        <script type="x-template" id="step-navigation-step-template">
                            <li :class="indicatorclass">
                                <div class="step"><i :class="step.icon_class"></i></div>
                                <div class="caption hidden-xs hidden-sm">Step <span v-text="step.id"></span>: <span v-text="step.title"></span></div>
                            </li>
                        </script>

                        <script type="x-template" id="step-template">
                            <div class="step-wrapper" :class="stepWrapperClass">
                                <button type="button" class="btn btn-primary" @@click="lastStep" :disabled="firststep">
                                    Back
                                </button>
                                <button type="button" class="btn btn-primary" id="nextTab" @@click="nextStep" :disabled="laststep">
                                    Next
                                </button>



                                     <a href="/payment" class="btn btn-primary" v-if="laststep">
                                    Submit
                                </a>


                            </div>
                        </script>
                    </div>
                </form>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<!-- Updated JavaScript url -->
<!-- Time picker -->
<script>
    function SelectTimeType(element) {
        let timeType = $(element).val();

        $(element).parent().children().removeClass("selected-time-type");
        $(element).parent().children().removeAttr("selected");
        if (timeType == "AM") {
            $(element).addClass("selected-time-type");
            $(element).attr("selected", "selected");
            CheckDateToBron("AM")
        }
        else {
            $(element).addClass("selected-time-type");
            $(element).attr("selected", "selected");
            CheckDateToBron("PM")
        }
    }


    var choosenTimesRange = @Html.Raw(Json.Serialize(Model.TimesRange));

    console.log(choosenTimesRange);
    var c_t = "";
    function timepicker(el, S) {
        var div = document.querySelector('.timepicker_wrapper')
        function pad(n) {
            var len = 2 - ('' + n).length;
            return (len > 0 ? new Array(++len).join('0') : '') + n
        }

        if (S == 'a') {
            html = "";
            let timeCount = 0;
            for (i = 0; i <= 11; i++) {
                if (i == 0)
                    i = 12;
                if (choosenTimesRange != null) {
                    for (j = 0; j < choosenTimesRange.length; j++) {

                        if (choosenTimesRange[j].substring(0, 2) == pad(i)) {
                            html += '<option disabled class="disabled-option-time-picker" value="' + pad(i) + '">' + pad(i) + '</option>';
                            ++timeCount;
                        }
                    }

                    if (timeCount == 0) {
                        html += '<option value="' + pad(i) + '">' + pad(i) + '</option>';
                    }
                    timeCount = 0;

                }
                else {
                    html += '<option value="' + pad(i) + '">' + pad(i) + '</option>'
                }
                if (i == 12)
                    i = 0;
            }
            document.querySelector('.timepicker_hour').innerHTML = html

            html = "";
            for (i = 0; i <= 59; i++) {
                html += '<option value="' + pad(i) + '">' + pad(i) + '</option>'
            }
            document.querySelector('.timepicker_minute').innerHTML = html

            c_t = "";
            c_t = el;
            document.querySelector('.timepicker_wrapper').style.display = "block";

        }
        if (S == 'c') {
            document.querySelector('.timepicker_hour').value = "";
            document.querySelector('.timepicker_minute').value = "";
            document.querySelector('.timepicker_ampm').value = "";
            c_t.value = "";
        }
        if (S == 'x') {
            div.style.display = "none";
        }
        if (S == 's') {
            var hr = document.querySelector('.timepicker_hour').value;
            var min = document.querySelector('.timepicker_minute').value;
            var am = document.querySelector('.timepicker_ampm').value;
            if (hr != "" && min != "" && am != "") {
                c_t.value = hr + ":" + min + " " + am;
                div.style.display = "none";
            }


        }
    }

    function changeTimepickerheader(el, S) {
        var k = document.querySelectorAll('.timepicker_header b');
        console.log("changeTimepickerheader hour")
        if (S == '1') {
            k[0].innerHTML = el.value;
            console.log(k[0])
        }
        if (S == '2') {
            k[1].innerHTML = el.value
            console.log(k[1])
        }
        if (S == '3') {
            k[2].innerHTML = el.value
            console.log(k[2])
        }
    }
</script>
<script src="~/lib/jquery/jquery3.6.4/jquery3.6.4.js"></script>

<script src="~/lib/ajax/ajax-library.js"></script>
<script src="~/assets/js/gstatic_map.js"></script>
<script src="~/assets/js/vehicletype.js"></script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj9EMFJrr3wAF4E4OKoZqJ0ldA0_pvFms&callback=initMap&libraries=places&v=weekly" defer></script>

<script>
    if (localStorage.getItem('btnValueKey') == 'activ') {
        $('#hourly').css("display", "block")
    } else if (localStorage.getItem('btnValueKey') == 'deactiv') {
        $('#hourly').css("display", "none")

    }

    if (localStorage.getItem('btnCarTypeValueKey') == 'activ') {
        $('#carType').css("display", "block")
    } else if (localStorage.getItem('btnCarTypeValueKey') == 'deactiv') {
        $('#carType').css("display", "none")

    }

    if (localStorage.getItem('btnAllBettingValueKey') == 'activ') {
        $('#betting ').css("display", "block")
        $('#bettingTitleH4 ').css("display", "block")
    } else if (localStorage.getItem('btnAllBettingValueKey') == 'deactiv') {
        $('#betting').css("display", "none")
        $('#bettingTitleH4').css("display", "none")

    }

    if (localStorage.getItem('buttonBettingValueKey') == 'activ') {
        $('#bettButtons ').css("display", "block")
    } else if (localStorage.getItem('buttonBettingValueKey') == 'deactiv') {
        $('#bettButtons').css("display", "none")

    }

    if (localStorage.getItem('customBettinkValueKey') == 'activ') {
        $('#customBettink').css("display", "block")
    } else if (localStorage.getItem('customBettinkValueKey') == 'deactiv') {
        $('#customBettink').css("display", "none")

    }
    if (localStorage.getItem('cupponSectionValueKey') == 'activ') {
        $('#cupponSection').css("display", "block")
    } else if (localStorage.getItem('cupponSectionValueKey') == 'deactiv') {
        $('#cupponSection').css("display", "none")

    }
    $(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();
        var maxDate = year + '-' + month + '-' + day;
        $('#pickupDate').attr('min', maxDate);
    });

</script>
