@using ColoradoLuxury.Models.VM;
@model List<CuponVM>
@{
    ViewData["Title"] = "Coupon";
    Layout = "~/Areas/WebCms/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/admin/css/cupon.css" rel="stylesheet" />
</head>




<div class="row">
    <div class="col-md-12 my-4">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                Random Coupons
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="input-group  col-md-3">
                        <form>
                            <!-- Coupons input -->
                            <button class="btn btn-outline-secondary" style="height: 49px;" onclick="onClick();" id="generateCoupon" type="button">
                                CREATE NEW COUPON
                            </button>
                            <label class="form-label">Coupons Code</label>

                            <input disabled style="font-size: 20px;  text-transform: uppercase;" type="text" class="form-control" id="newCoupon" placeholder="Click Create" aria-label="" aria-describedby="basic-addon1">
                         

                            <!-- Interest input -->
                            <div class="form-outline ">
                                <label class="form-label">How Much Interest Discount</label>
                                <input type="number" class="form-control" placeholder="%" id="percentage" />
                            </div>

                            <!-- Discount input -->
                            <div class="form-outline ">
                                <label class="form-label">How Much Discount</label>
                                <input type="number" class="form-control" placeholder="$" id="amount" />
                            </div>

                            <!-- Coupons Code input -->
                            <div class="form-outline">
                            <label class="form-label "> Coupon ID</label>
                            <input disabled style="font-size: 20px;  text-transform: uppercase;" type="text" class="form-control" id="couponCode" aria-describedby="basic-addon1">
                                </div>
                            <!-- Submit button -->

                            <div class="form-outline">
                             <label class="form-label">Coupon Deatline</label>
                                <input type="date" id="inputdate" class="form-control" >
                            </div>
                            <div class="form-outline">
                            <button type="button" class="btn btn-success btn-block" onclick="CreateCupon()">Add</button>
                            </div>

                        </form>

                    </div>
                       <div class="col-md-9 my-4">

                        <div class="card shadow mb-4">
                            <div class="card-header py-4">
                                Nwe Cupon
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-shorting" id="dataTable">
                                        <thead>
                                            <tr>
                                                <th scope="col">COUPON CODE</th>
                                                <th scope="col">% INTEREST</th>
                                                <th scope="col"> $ DISCOUNT</th>
                                                <th scope="col">COUPON ID</th>
                                                <th scope="col">DETAIL SHOW</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.OrderByDescending(c => c.Id))
                                            {
                                                <tr>
                                                    <td>@item.NewCupon</td>
                                                    <td>@item.Percentage</td>
                                                    <td>@item.Amount</td>
                                                    <td>@item.Id</td>
                                                    <td>
                                                        <a asp-route-id="@item.Id" asp-action="DetailShow" asp-controller="RandomCoupon" class="btn text-primary">
                                                            <i class="fas fa-regular fa-eye"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    function generateCoupon() { // Public Domain/MIT
        var d = new Date().getTime();//Timestamp
        var d2 = ((typeof performance !== 'undefined') && performance.now && (performance.now() * 1000)) || 0;//Time in microseconds since page-load or 0 if unsupported
        return 'xxxxyxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16;//random number between 0 and 16
            if (d > 0) {//Use timestamp until depleted
                r = (d + r) % 16 | 0;
                d = Math.floor(d / 16);
            } else {//Use microseconds since page-load if supported
                r = (d2 + r) % 16 | 0;
                d2 = Math.floor(d2 / 16);
            }
            return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
            generateCouponCode()
        });
    }

    //=========Coupon Code============
    //function generateCouponCode() { // Public Domain/MIT
    //    var d = new Date().getTime();//Timestamp
    //    var d2 = ((typeof performance !== 'undefined') && performance.now && (performance.now() * 1000)) || 0;//Time in microseconds since page-load or 0 if unsupported
    //    return 'xxyxx'.replace(/[xy]/g, function (c) {
    //        var r = Math.random() * 16;//random number between 0 and 16
    //        if (d > 0) {//Use timestamp until depleted
    //            r = (d + r) % 16 | 0;
    //            d = Math.floor(d / 16);
    //        } else {//Use microseconds since page-load if supported
    //            r = (d2 + r) % 16 | 0;
    //            d2 = Math.floor(d2 / 16);
    //        }
    //        return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
    //    });
    //}
    //=====================

    function onClick() {
        document.getElementById('newCoupon').value = generateCoupon();
        document.getElementById('couponCode').value = generateCouponCode();
    }
    onClick();


    $(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();
        var maxDate = year + '-' + month + '-' + day;
        $('#inputdate').attr('min', maxDate);
    });

</script>

<script src="~/lib/sweetalert/sweetalert2-11.7.27.js"></script>
<script src="~/lib/ajax/ajax-library.js"></script>
<script src="~/admin/js/cupon/cupon.js"></script>