@model IEnumerable<UserInfo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/WebCms/Views/Shared/_Layout.cshtml";
}

<style>
    /*  div.dataTables_wrapper div.dataTables_length label {
               display:none;
            }*/
    thead tr {
        text-align: center;
    }

    tbody tr {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-12 my-4">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                Users' Records Page
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-shorting" id="dataTable">
                        <thead>
                            <tr>
                                <th scope="col">NAME</th>
                                <th scope="col">SURNAME</th>
                                <th scope="col">PHONE </th>
                                <th scope="col">EMAIL</th>
                                <th scope="col">DATE</th>

                                <th scope="col">DETAILS SHOW</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.Firstname</td>
                                    <td>@user.Surname</td>
                                    <td>@user.Phone</td>
                                    <td>@user.Email</td>
                                    <td>@user.RegDate</td>

                                    <td>
                                        <div>

                                            <a asp-controller="UsersRecords" asp-action="OrderRecord" class="fas fa-regular fa-eye updateBtn btnForm" asp-route-id="@user.Id"></a>

                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@*<script>
    setTimeout(
        function () {
            var refres = document.getElementById("succesFull");
            refres.style.transition = "opacity " + 1 + "s";
            refres.style.opacity = 0;
            refres.addEventListener("transitionend", function () {
                refres.style.display = "none";
            });
        }, 1200
    );
</script>*@

